{% extends 'base.html' %}
{% load  static %}
<body>
{% block content %}
    <br>
    <br>
    <br>
    <br>
    
<div class="card text-white bg-danger mb-3" style="max-width:90%;margin-left:auto;margin-right:auto;">
  <div class="card-header">Error</div>
      <div class="card-body">
        <h5 class="card-title">Sign Up Issue:</h5>
        <p class="card-text">Please enter all the Information to Signup </p>
        <h5 class="card-title">Calculation Error:</h5>
        <p class="card-text">Please give all the Answers to the given Questtionaire </p>
  </div>
</div>
    
{% endblock %}
</body>
