<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
        <a class="navbar-brand" href="#">
    <img src="{% static 'logo.png' %}" width="40%"  alt=""></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="background-color:#D0D3D4;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color:white">घर <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white" data-toggle="modal" data-target="#staticAbout" >बद्दल</a>
                </li>
                <!--Modal for About-->
                <div class="modal fade" id="staticAbout" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">बद्दल:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src={% static 'logob.png' %} />
        <p style="color:black;">व्हायरस बाबा एक अनुप्रयोग आहे जे 1.3 अब्ज भारतीयांना शक्य असणारी चाचणी करण्यास सक्षम करते. हा अनुप्रयोग सामाजिक अंतर आणि कोविड -१ Test चा कसोटी सहजतेने प्रोत्साहित करतो. प्रश्नांच्या उत्तरानुसार आपण उत्तर द्याल तर आपल्यास कोविड -१ of ची संवेदनाक्षम स्कोअर सुचवते आणि आपल्या जवळच्या चाचणी केंद्रांमध्ये अपॉईंटमेंट बुक करण्यास मदत करते. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">बंद</button>
        <button type="button" class="btn btn-primary">समजले</button>
      </div>
    </div>
  </div>
</div>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white" data-toggle="modal" data-target="#staticContact">संपर्क</a>
                </li>
                <!--Modal for Contact-->
                <div class="modal fade" id="staticContact" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">संपर्क:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src={% static 'logob.png' %} />
        <p style="color:black;" align="center">अनुप्रयोग विकसित: निलेश .डी. ओहोळ </p>
        <p>Email ID:<a href="">nileshohol@live.in</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">बंद</button>
        <button type="button" class="btn btn-primary">समजले</button>
      </div>
    </div>
  </div>
</div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" style="color:white" aria-expanded="false">
                        डेटा व्हिज्युअलायझेशन
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">भारतासाठी आकडेवारी</a>
                        <a class="dropdown-item"
                           href="https://public.tableau.com/profile/nilesh.ohol#!/vizhome/COVID-1928042020/Dashboard1">जागतिक सांख्यिकी</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="http://127.0.0.1:8000/login/" type="button" style="font-family:montserrat;color:white;">लॉगिन/साइन अप</a>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>

   <!--Sign Up Starts Here-->
    <br>
    <h1 style="color:white;font-family:montserrat;" align="center">साइन अप:</h1>
    <br>
    <br>
<div class="card bg-light mb-3" style="max-width:90%;margin-left:auto;margin-right:auto;">
  <div class="card-header">साइन अप:</div>
  <div class="card-body">
    <h5 class="card-title">आपण सामान्य माहिती प्रविष्ट करा:</h5>
    <form method="post" action="http://127.0.0.1:8000/profiles/">
        {% csrf_token %}
        <div class="form-group">
    <label >नाव:</label>
    <input type="text" name="name1" class="form-control">
  </div>
    <div class="form-group">
    <label >वय:</label>
    <input type="text" name="age1" class="form-control">
  </div>
    <div class="form-group col-md-4">
      <label for="inputState">लिंग:</label>
      <select id="inputState" class="form-control" name="gender1">
        <option selected>Choose...</option>
        <option>नर</option>
        <option>स्त्री</option>
        <option>इतर</option>
      </select>
    </div> 
  <div class="form-group">
    <label >फोन:</label>
    <input type="tel" name="phone1" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">ईमेल पत्ता</label>
    <input type="email" name="email1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">आम्ही आपले ईमेल इतर कोणाबरोबरही सामायिक करणार नाही.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">संकेतशब्द</label>
    <input type="password" name="pass1" class="form-control" id="exampleInputPassword1">
  </div>
   <div class="form-group">
    <label >पासवर्डची पुष्टी करा:</label>
    <input type="password" name="cpass1" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">प्रस्तुत करणे</button>
</form>
  </div>
</div>



    <br><br><br><br><br><br><br>
    
    <div class="footer-copyright text-center py-3" style="color:white">© 2020 Copyright:
        <a href="#"> virusbaba.com</a>
    </div>
    <!-- Copyright -->


    <!-- Footer -->
    <p translate="yes" style="font-family:montserrat;color:white;" align="center">Application Developed by: Nilesh
        Ohol.</p>




{% endblock %}
<br>
</body>
</html>