{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Login in Virus Baba</title>

  </head>

  <body>
    {% block content %}
    {%if messg %}
    <script>
      alert('{{ messg }}');

    </script>
    {% endif %}
    <link rel="stylesheet" href="{% static 'splash.css' %}">
    <div class="splash">
      <img src={% static 'splash_screen.jpg' %} style="width:100%;height:100%;">
    </div>
    <script src={% static 'app.js' %}></script>


    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
      <a class="navbar-brand" href="#">
        <img src="{% static 'logo.png' %}" width="40%" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="background-color:#D0D3D4;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#" style="color:white">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:white" data-toggle="modal" data-target="#staticAbout">About</a>
          </li>
          <!--Modal for About-->
          <div class="modal fade" id="staticAbout" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">About:</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src={% static 'logob.png' %} />
                  <p style="color:black;">Virus Baba is an Application which Enables the Impossible to Test 1.3 Billion Indians possible. This application Promotes Social Distancing and Testin of COVID-19 with ease. Depending upon the Questionnaires you Answer it Suggests you Susceptible Score of COVID-19 and Helps you book an Appointment in your Nearest Test Centres. </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Understood</button>
                </div>
              </div>
            </div>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:white" data-toggle="modal" data-target="#staticContact">Contact</a>
          </li>
          <!--Modal for Contact-->
          <div class="modal fade" id="staticContact" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Contact:</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src={% static 'logob.png' %} />
                  <p style="color:black;" align="center">Application Developed by: Nilesh .D. Ohol </p>
                  <p>Email ID:<a href="">nileshohol@live.in</a></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Understood</button>
                </div>
              </div>
            </div>
          </div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" style="color:white" aria-expanded="false">
              Data Visualization
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Statistics for India</a>
              <a class="dropdown-item" href="https://public.tableau.com/profile/nilesh.ohol#!/vizhome/COVID-1928042020/Dashboard1">Statistics
                for the World</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <a type="button" style="font-family:montserrat;color:white;" data-toggle="modal" data-target="#staticLogin">Login/Sign Up</a>
      </div>
      <!--Modal for Login-->
      <div class="modal fade" id="staticLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Login:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/profile/" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" name="emailLogin" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="passLogin">
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
                <br>
                <br>

                <p style="color:black;"> If you dont have an Account Click on SignUp.</p>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <a type="button" href="/signUp/" class="btn btn-primary">Sign Up</a>

            </div>
          </div>
        </div>
      </div>







    </nav>
    <br><br><br>
    <div class="dropdown" align="right">
      <button class="btn btn-secondary dropdown-toggle" type="button" style="background-color:transparent;" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Language:
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">English</button>
        <a href="http://127.0.0.1:8000/login_hi/" class="dropdown-item" type="button">हिन्दी</a>
        <a class="dropdown-item" type="button" href="http://127.0.0.1:8000/login_mr">मराठी</a>
        <a class="dropdown-item" type="button" href="http://127.0.0.1:8000/login_kn">ಕನ್ನಡ</a>
      </div>
    </div>



    <h1 class="text-center" style="font-family:montserrat;color:white">Let's make India Great Again</h1>
    <br><br>





    <br><br><br>
    <div class="container" align="center">

      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'stocks.jpeg' %}" alt="Card image cap">
            <div class="card-body" align="middle">
              <h5 class="card-title">Let us Recover our Economy</h5>
              <p class="card-text" style="color:black;">COVID-19 has hit the Economy too Hard, Let's make it Proper again.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;height:22.8rem;">
            <img class="card-img-top" src="{% static 'wash_hand.jpeg' %}" alt="Card image cap">
            <div class="card-body" align="middle">
              <h5 class="card-title">Keep Washing your Hand</h5>
              <p class="card-text" style="color:black;">Wash your Hand with Soap or Liquid Soap for 20 Seconds or Sanitize your Hand. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="alert alert-primary" role="alert" align='center'>
      Confirmed COVID-19 cases in India: 46,711 +2,573
    </div>
    <div class="alert alert-success" role="alert" align='center'>
      Recovery: 13,161
    </div>
    <div class="alert alert-danger" role="alert" align='center'>
      Death: 1,583 +83
    </div>



    <!-- Footer -->
    <br><br><br><br>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color:white">© 2020 Copyright:
      <a href="#"> virusbaba.com</a>
    </div>
    <!-- Copyright -->


    <!-- Footer -->
    <p translate="yes" style="font-family:montserrat;color:white;" align="center">Application Developed by: Nilesh Ohol.</p>
    {% endblock %}
    
  </body>

</html>
