{% extends 'base.html' %}
{% load static%}

<body>
    {% block content %}
         <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
        <a class="navbar-brand" href="#">
    <img src="{% static 'logo.png' %}" width="40%"  alt=""></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="background-color:#D0D3D4;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color:white">घर <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white" data-toggle="modal" data-target="#staticAbout" >बद्दल</a>
                </li>
                <!--Modal for About-->
                <div class="modal fade" id="staticAbout" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">बद्दल:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src={% static 'logob.png' %} />
        <p style="color:black;">व्हायरस बाबा एक अनुप्रयोग आहे जे 1.3 अब्ज भारतीयांना शक्य असणारी चाचणी करण्यास सक्षम करते. हा अनुप्रयोग सामाजिक अंतर आणि कोविड -१ Test चा कसोटी सहजतेने प्रोत्साहित करतो. प्रश्नांच्या उत्तरानुसार आपण उत्तर द्याल तर आपल्यास कोविड -१ of ची संवेदनाक्षम स्कोअर सुचवते आणि आपल्या जवळच्या चाचणी केंद्रांमध्ये अपॉईंटमेंट बुक करण्यास मदत करते. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">बंद</button>
        <button type="button" class="btn btn-primary">समजले</button>
      </div>
    </div>
  </div>
</div>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white" data-toggle="modal" data-target="#staticContact">संपर्क</a>
                </li>
                <!--Modal for Contact-->
                <div class="modal fade" id="staticContact" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">संपर्क:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src={% static 'logob.png' %} />
        <p style="color:black;" align="center">अनुप्रयोग विकसित: निलेश .डी. ओहोळ </p>
        <p>Email ID:<a href="">nileshohol@live.in</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">बंद</button>
        <button type="button" class="btn btn-primary">समजले</button>
      </div>
    </div>
  </div>
</div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" style="color:white" aria-expanded="false">
                        डेटा व्हिज्युअलायझेशन
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">भारतासाठी आकडेवारी</a>
                        <a class="dropdown-item"
                           href="https://public.tableau.com/profile/nilesh.ohol#!/vizhome/COVID-1928042020/Dashboard1">जागतिक सांख्यिकी</a>
                    </div>
                </li>
            </ul></div> <br><div class="logout">
    <button type="button" class="btn btn-dark" style="background:transparent;font-family:montserrat;" onClick="location.href='{% url 'log' %}'">बाहेर पडणे</button>

    </div>
    
    </nav>
    <br><br><br>
    <div class="dropdown" align="right">
        <button class="btn btn-secondary dropdown-toggle" type="button" style="background-color:transparent;" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            भाषा:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">English</button>
            <a href="http://127.0.0.1:8000/login_hi/" class="dropdown-item" type="button">हिन्दी</a>
            <button class="dropdown-item" type="button">मराठी</button>
        </div>
    </div>
        <br>
        <br>
        <h1 class="text-center" style="font-family:montserrat;color:white">VirusBaba मध्ये आपले स्वागत आहे</h1>
        <br>
        <br>

        

        <br><br><br><br><br><br>


        <div class="card" style="width:60rem;margin-left:auto;margin-right:auto;">
            <h5 class="card-title" style="font-family:montserrat">दिलेल्या प्रश्नावलीचे उत्तर द्या:</h5>
            <img class="card-img-top-center" src="{% static 'question-dot.jpg' %}" alt="Card image cap" style="height:50%;">
            <div class="card-body" align="middle">
                <!--Questions and Answers here-->
                <div class="row">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-q1-list"
                                data-toggle="list" href="#list-q1" role="tab" aria-controls="q1">Q1</a>
                            <a class="list-group-item list-group-item-action" id="list-q2-list" data-toggle="list"
                                href="#list-q2" role="tab" aria-controls="q2">Q2</a>
                            <a class="list-group-item list-group-item-action" id="list-q3-list" data-toggle="list"
                                href="#list-q3" role="tab" aria-controls="q3">Q3</a>
                            <a class="list-group-item list-group-item-action" id="list-q4-list" data-toggle="list"
                                href="#list-q4" role="tab" aria-controls="q4">Q4</a>
                            <a class="list-group-item list-group-item-action" id="list-q5-list" data-toggle="list"
                                href="#list-q5" role="tab" aria-controls="q5">Q5</a>
                            <a class="list-group-item list-group-item-action" id="list-q6-list" data-toggle="list"
                                href="#list-q6" role="tab" aria-controls="q6">Q6</a>
                            <a class="list-group-item list-group-item-action" id="list-q7-list" data-toggle="list"
                                href="#list-q7" role="tab" aria-controls="q7">Q7</a>
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-q1" role="tabpanel"
                                aria-labelledby="list-q1-list">आपण परदेशी देशातून आला आहात का??
                                <br><br>
                                <!--Radio buttons for Q1-->
                                <div class='container'>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option2">होय
                                        </label>

                                        <label class="btn btn-secondary active">
                                            <input type="radio" name="options" id="option1" checked> नाही
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-q2" role="tabpanel" aria-labelledby="list-q2-list">आपण कोणत्या देशातून आला आहात??
                                <br><br>
                                <!--Select for the Countries Arrived from-->
                                <select class="form-control">
                                    <option>काहीही नाही</option>
                                    <option>United States of America</option>
                                    <option>United Kigdom</option>
                                    <option>Iran</option>
                                    <option>Spain</option>
                                    <option>Italy</option>
                                    <option>Germany</option>
                                    <option>UAE</option>
                                    <option>Russia</option>
                                    <option>Australia</option>
                                    <option>China</option>
                                </select>

                            </div>
                            <div class="tab-pane fade" id="list-q3" role="tabpanel" aria-labelledby="list-q3-list">आपण कोणती लक्षणे अनुभवत आहात?.
                                <br><br>
                                <!--Checkboxes for the symptoms-->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        उच्च ताप
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">
                                        कोरडा खोकला
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">
                                        सौम्य श्वासोच्छवासाचे प्रश्न
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        तीव्र श्वासोच्छवासाचे प्रश्न
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">
                                        अतिसार
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">
                                        थकवा
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        काहीही नाही
                                    </label>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-q4" role="tabpanel" aria-labelledby="list-q4-list">
                                तुम्ही धूम्रपान करता किंवा पित आहात??
                                <br><br>
                                <!--Radio buttons for Q4-->
                                <div class='container'>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option2">होय
                                        </label>

                                        <label class="btn btn-secondary active">
                                            <input type="radio" name="options" id="option1" checked> नाही
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-q5" role="tabpanel" aria-labelledby="list-q5-list">
                                आपण कोणत्याही वैद्यकीय अट आहे का ?
                                <br><br>
                                <!--Checkboxes for the Medical Condition-->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        हृदय समस्या
                                    </label>
                                </div>
                                <br>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        रक्तदाब समस्या
                                    </label>
                                </div>
                                <br>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        मधुमेह
                                    </label>
                                </div>
                                <br>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        हाडे जारी
                                    </label>
                                </div>
                                <br>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        काहीही नाही
                                    </label>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-q6" role="tabpanel" aria-labelledby="list-q6-list">
                                आपल्या कुटुंबातील किती सदस्य?
                                <br><br>
                                <!--Spinner for the Family-->
                                <select class="form-control">
                                    <option>काहीही नाही</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>4+</option>

                                </select>

                            </div>
                            <div class="tab-pane fade" id="list-q7" role="tabpanel" aria-labelledby="list-q7-list">
                                आपण अलीकडेच डॉक्टरांना भेटलात का??
                                <br><br>
                                <!--Radio buttons for Q7-->
                                <div class='container'>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option2">होय
                                        </label>

                                        <label class="btn btn-secondary active">
                                            <input type="radio" name="options" id="option1" checked> नाही
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalLong">प्रस्तुत करणे</button>
            <!-- Modal when Susceptibility for any modification required, Modal First-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">टीपः</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        आपली खात्री आहे की आपण योग्य उत्तरे दिली आहेत?
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-secondary" data-dismiss="modal">उत्तरे बदला</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong2" >होय</button>
        <!--Modal for Yes in Second Modal-->
        <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="font-family:montserrat;">आपला संवेदनशीलता स्कोअर आहे:</h5>
      </div>
      <div class="modal-body">
        <h1 class="text-center" style="font-family:montserrat;color:red;">27/40</h1>
        <p style="color:black;">आपल्याकडे उच्च संवेदनशीलता स्कोअर आहे, कृपया खाली क्लिक करा </p>
    </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" style="color:white;" href="maps/" >अपॉईंटमेंट बुक करा</a>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
            <button type="button" class="btn btn-outline-danger">रीसेट करा</button>

        </div>
        <br>
        <br>


        <br><br><br><br><br><br>
        <div class="footer-copyright text-center py-3" style="color:white">© 2020 Copyright:
            <a href="#"> virusbaba.com</a>
        </div>
        <!-- Copyright -->


        <!-- Footer -->
        <p translate="yes" style="font-family:montserrat;color:white;" align="center">Application Developed by:
            Nilesh
            Ohol.</p>


    </div>
    {% endblock %}
</body>